@import "compass";

#useragreement {
	color: #000;
	width: 550px;
	height: 300px;
	overflow-y: scroll;
	@include border-radius(0px);
	resize: none;
}
input[type="text"], input[type="password"]{
	width: 210px;
}
.strength {
	padding: 0.5px;
	margin: 0.5px;
}
#passwordStrength
{
	height:49.5px;
	display:block;
	float:left;
}
.strength0
{
	width:215px;
	padding: 0.5px;
}

.strength1
{
	width:30px;
	background:#3B0B0B;
	border-right:1px solid #000;
}

.strength2
{
	width:50px;
	background:#FF0000;
	border-right:1px solid #000;
}

.strength3
{
	width:60px;
	background:#FE9A2E;
	border-right:1px solid #000;
}
.strength4
{
	width:80px;
	background:#FF5F5F;
	border-right:1px solid #000;
}

.strength5
{
	width:120px;
	background:#56E500;
	border-right:1px solid #000;
}

.strength6
{
	background:#4DCD00;
	width:170px;
	border-right:1px solid #000;
}

.strength7
{
	background:#399800;
	width:200px;
	border-right:1px solid #000;
	@include box-shadow(0 0 18px #399800);
}
