@import "compass";
@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);
@font-face {
    font-family:'ws-ui';
    font-style:normal;
    font-weight:normal;
    src:url('../font/weblysleekuil.ttf') format('truetype');
}
*{
    margin:0;
    padding:0;
}
html, body {
    background: #ECE8E5;
    height:100%;
}
#loading {
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    height:100%;
    width:100%;
    background-color:#333;
    background-image:url('../img/OpenEx-square.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    z-index:15;
}
$timing:.25s;
body {
    @include transition($timing);
    font-family:'ws-ui',sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family:'ws-ui',sans-serif;
}
nav {
    height:40px;
    width:100%;
    background:#40a000;
    font-size:200%;
    position:relative;
    float:right;
    @include transition($timing);
}
#logo {
    display:inline-block;
    margin-left:20px;
    line-height:40px;
    width:180px;
    @include transition($timing);
}
#logo img {
    float: left;
}
nav ul {
    display:inline-block;
    padding:0;
    width:100%;
    height:40px;
    @include transition($timing);
}
nav li {
    display:inline;
    float:left;
    @include transition($timing);
}
nav li.right {
    display:inline;
    float:right;
    @include transition($timing);
}
.clearfix:before,.clearfix:after {
    content:" ";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    *zoom:1;
}
nav a {
    color:#fff;
    display:inline-block;
    width:60px;
    text-align:center;
    text-decoration:none;
    line-height:40px;
    text-shadow:1px 1px 0 #283744;
}
nav li a {
    border-left:.5px solid #576979;
    border-right:.5px solid #576979;
    @include box-sizing(border-box);
}
nav li:last-child a {
    border-right:0;
}
nav li:hover,nav li:active {
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.55),1px 1px 3px rgba(0,0,0,0.25));
    @include background-image(linear-gradient(to bottom,#5780a4 0,#0053a6 100%));
}
nav a#pull {
    display:none;
}
#main_content {
    background-color:#EAF8EC;
    top:40px;
    left:200px;
    right:0;
    bottom:32px;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
    margin:0 auto;
}
#luapod {
    width: 100px;
    @include border-radius(3px);
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.55),1px 1px 3px rgba(0,0,0,0.25));
    @include background-image(linear-gradient(to bottom,#5780a4 0,#0053a6 100%));
}
#luapod a {
    height:100%;
    width:100%;
    text-decoration: none;
    color:#fff; font-size:14px;
    text-shadow:1px 1px 0 #283744;
}
#filler {
    height:32px;
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    background:#007636;
}
#footerl {
    color: #fff;
    height: 32px; line-height:32px;
    position:fixed;
    left: 30px;
    bottom:0px;
    width: 200px;
    list-style:none;
    display:inline;
    z-index: 10;
}
#footerl li {
    color:#fff;
    display:inline;
    width: 50%;
    height:32px;
}
#footerl a {
    width:100%;
    height:100%;
    color:#fff;
    text-decoration:none;
    text-shadow:1px 1px 0 #283744
}
#footerl a:hover {
    color:#1860A5
}
#centerfooter {
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -120px;
    color: #fff;
    text-shadow:1px 1px 0 #283744;
    height: 32px;
    font-size:12px;
    line-height:32px;
    width: 200px;
    z-index: 10
}
#chat_toggle {
    float:right;
    margin-right:30px;
    height:32px;
    width:60px;
    background-color:transparent;
    border:0;
    font-size:18px;
    font-weight:bold;
    letter-spacing:.6px;
    @include transition($timing)
}
#chat_toggle:hover {
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.55),1px 1px 3px rgba(0,0,0,0.25));
    @include background-image(linear-gradient(to bottom,#5780a4 0,#0053a6 100%));
}
#chatbox {
    background:#959595;
    @include background(linear-gradient(to bottom,#959595 0,#0d0d0d 0,#010101 60%,#010101 92%,#4e4e4e 100%,#383838 100%,#1b1b1b 100%));
    position:fixed;
    bottom:32px;
    right:30px;
    width:350px;
    height:450px;
    display:none;
    @include transition($timing);
}
#chat-submit {
    visibility:hidden;
    display:none
}
#messages {
    font-family:'PT Sans',Arial,sans-serif;
    font-size:14px;
    height:390px;
    width:340px;
    background:#fff;
    color:#000;
    overflow-y:scroll;
    margin:0 auto;
}
#LoggedOut {
    border-top:1px solid #000;
    font-family:'PT Sans',Arial,sans-serif;
    font-size:18px;
    width:340px;
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.55),1px 1px 3px rgba(0,0,0,0.25));
    @include background-image(linear-gradient(to bottom,#5780a4 0,#0053a6 100%));
    border:1px solid #5780a4;
    height:40px;
    line-height:40px;
    color:#FFF;
    text-shadow:1px 1px 0 #283744;
    margin:0 auto;
}
#message-wrap {
    width:340px;
    height:40px;
    margin:0 auto;
}
#message {
    outline:0;
    line-height:39px;
    font-size:18px;
    width:335px;
    height:39px;
}
#msg_row {
    padding-left:5px;
    padding-top:2.5px;
    margin-bottom:2.5px;
    width:95%;
    word-wrap:break-word;
    list-style:none;
    height:auto;
}
#u_name_chat {
    opacity:1.0;
    font-weight:bold;
}
#accountmenu {
    position: fixed;
    top: 40px;
    right: 0px;
    left: 200px;
    display: none;
    width: 100%;
    height: 40px;
    background: #6A747D;
    z-index: 2;
}
#accountmenu ul {
    margin-left: 15px;
    display: inline;
    width: 100%;
    height: 100%;
    overflow-x: auto;
}
#accountmenu a {
    height: 40px;
    width: 100%;
}
#accountmenu li {
    display: inline;
    margin-right: 5px;
    width: 13%;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    float: left;
    margin: 0 auto;
    line-height: 40px;
}
#accountmenu li, #accountmenu li a {
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#accountmenu li a:hover,#accountmenu li a:active {
    color:#000;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.five {
    height:5px;
    visibility:hidden;
    margin-bottom:-1px;
}
.hundred {
    height:100px;
    visibility:hidden;
    margin-bottom: -1px;
}
.toggle {
    outline:0;
}
.nobullets {
    list-style:none;
    text-align:justify;
}
.markets {
    width:200px;
    display:block;
    list-style:none;
    line-spacing:2px;
    line-height:20px;
}
#markets {
    background: #BBE0C0; width:200px;
    position:fixed;
    top:40px;
    left:0;
    bottom:32px;
    overflow-y:scroll;
    overflow-x:hidden;
}
#mhead {
    width:200px;
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.55),1px 1px 3px rgba(0,0,0,0.25));
    @include background-image(linear-gradient(to bottom,#5780a4 0,#0053a6 100%));
}
.tshadow {
    text-shadow:1px 1px 0 #283744;
}
.mhead {
    font-family:'ws-ui',sans-serif;
}
.box2{
    float:left;
    line-height:15px;
    width:85px;
    display:inline-block;
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.55),1px 1px 3px rgba(0,0,0,0.25));
    @include background-image(linear-gradient(to bottom,#5780a4 0,#0053a6 100%));
    border:1px solid #FFF;
    color:#FFF;
    font-weight:bold;
    font-size:14px;
    margin:2px;
    padding:2px;
    text-align:center;
    cursor:pointer;
    text-shadow:1px 1px 0 #283744;
    font-family:'ws-ui',sans-serif;
}
.box2 a {
    width:100%;
}
.box2:hover {
    color:#FFF;
    border:1px solid #FFF;
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.55),1px 1px 3px rgba(0,0,0,0.25));
    @include background-image(linear-gradient(to bottom,#5780a4 0,#0053a6 100%));
    border:1px solid #5780a4;
    font-weight:bold;
    margin:2px;
    padding:2px;
    text-align:centered;
    cursor:pointer;
    text-shadow:none;
}
.toggle:hover {
    cursor:pointer;
}
.blue {
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.55),1px 1px 3px rgba(0,0,0,0.25));
    @include background-image(linear-gradient(to bottom,#5780a4 0,#0053a6 100%));
    color: white;
}
.lightgray {
    background:#e2e2e2;
    @include background(linear-gradient(to bottom,rgba(226,226,226,1)0,rgba(219,219,219,1)50%,rgba(209,209,209,1)91%,rgba(209,209,209,1)98%,rgba(254,254,254,1)100%,rgba(254,254,254,1)100%,rgba(254,254,254,1)100%));
}
.darkgray {
    background:#b5bdc8;
    @include background(linear-gradient(to bottom,rgba(181,189,200,1)60%,rgba(181,189,200,1)100%,rgba(40,52,59,1)100%));
}
@media screen and (max-width:960px){
    #logo {
	display:none;
    }
    nav {
	z-index:10;
	height:auto;
    }
    nav ul {
	width:100%;
	display:block;
	height:auto;
    }
    nav li {
	width:50%;
	float:left;
	position:relative;
    }
    nav li a {
	border-bottom:1px solid #576979;
	border-right:1px solid #576979;
    }
    nav a {
	text-align:left;
	width:100%;
	text-indent:25px;
    }
    #accountmenu {
	z-index:2;
    }
}
@media only screen and (max-width :960px) {
    nav {
	border-bottom:0;
    }
    nav {
	z-index:10;
    }
    nav ul {
	display:none;
	height:auto;
    }
    #accountmenu {
	display:initial;
	z-index: 2;
    }
    nav a#pull {
	display:block;
	background:#959595;
	@include background(linear-gradient(to bottom,#959595 0,#0d0d0d 0,#010101 60%,#010101 92%,#4e4e4e 100%,#383838 100%,#1b1b1b 100%));
	width:100%;
	position:relative;
	height:40px;
	line-height:40px;
    }
    nav a#pull:after {
	content:"";
	background:url('../img/nav-icon.png') no-repeat;
	width:30px;
	height:30px;
	display:inline-block;
	position:absolute;
	right:15px;
	top:10px;
    }
}
@media only screen and (max-width :720px){
    #footerl {
	display:none;
    }
    nav {
	z-index:10;
	height:auto;
    }
    #accountmenu {
	display:none;
	overflow: auto;
	left: 0px; top: 40px; right:0px; width: auto; height: 100px;
	border-bottom:1px solid #576979;
	border-right:1px solid #576979;
    }
    nav ul {
	width:100%;
	display:block;
	top:0px;
	bottom:32px;
	min-height:80%; max-height:84%;
	left: 0px;
	right:0px;
	position: fixed;
	z-index:10;
    }
    nav li {
	width:25%;
	height: 30%;
	float:left;
	position:relative;
    }
    nav li a {
	border-bottom:1px solid #576979;
	border-right:1px solid #576979;
    }
    nav a {
	text-align:left;
	width:100%;
	text-indent:25px;
    }
    nav ul {
	display:none;
	height:auto;
    }
    nav a#pull {
	display:block;
	background:#959595;
	@include background(linear-gradient(to bottom,#959595 0,#0d0d0d 0,#010101 60%,#010101 92%,#4e4e4e 100%,#383838 100%,#1b1b1b 100%));
	width:100%;
	position:relative;
	height:40px;
	line-height:40px;
    }
    nav a#pull:after { 
	content:"";
	background:url('../img/nav-icon.png') no-repeat;
	width:30px;
	height:30px;
	display:inline-block;
	position:absolute;
	right:15px;
	top:10px;
    }
    #markets {
	display:none;
	overflow-y:scroll;
	overflow-x:hidden;
	-webkit-overflow-scrolling: touch;
	@include transform(translate3d(0,0,0));
	width: auto;
	background: #333;
	position:fixed;
	top:40px;
	left:0px;
	right:0px;
	bottom:60%;
    }
    #mhead {
	-webkit-overflow-scrolling: touch;
	@include transform(translate3d(0,0,0));
	width: auto;
	@include box-shadow(inset 0 1px 0 rgba(255,255,255,0.55),1px 1px 3px rgba(0,0,0,0.25));
	@include background-image(linear-gradient(to bottom,#5780a4 0,#0053a6 100%));
    }
    #main_content {
	-webkit-overflow-scrolling: touch;
	@include transform(translate3d(0,0,0));
	background-color:#ece8e5;
	top:40px;
	left:0px;
	right:0px;
	bottom:32px;
	position:fixed;
	overflow-y:scroll;
	overflow-x:hidden;
	margin:0 auto;
    }
    .markets {
	margin: 0 auto;
	overflow-y:scroll;
	overflow-x:hidden;
	-webkit-overflow-scrolling: touch;
	@include transform(translate3d(0,0,0));
	width:100%;
	display:block;
	list-style:none;
	line-spacing:2px;
	line-height:20px;
    }
    .box2 {
	float:left;
	line-height:15px;
	width:31.1%;
	height:5.5%;
	display:inline-block;
	@include box-shadow(inset 0 1px 0 rgba(255,255,255,0.55),1px 1px 3px rgba(0,0,0,0.25));
	@include background-image(linear-gradient(to bottom,#5780a4 0,#0053a6 100%));
	border:1px solid #FFF;
	color:#FFF;
	font-weight:bold;
	font-size:14px;
	margin:0.5 0.5 0.5 0.5;
	padding:0.5 0.5 0.5 0.5;
	text-align:center;
	cursor:pointer;
	text-shadow:1px 1px 0 #283744;
	font-family:'ws-ui',sans-serif;
    }
    .box2 a {
	width:100%;
	height:100%;
    }
    #chatbox {
	background:#959595;
	@include background(linear-gradient(to bottom,#959595 0,#0d0d0d 0,#010101 60%,#010101 92%,#4e4e4e 100%,#383838 100%,#1b1b1b 100%));
	position:fixed;
	top:40px;
	bottom:32px;
	right:0px;
	left: 0px;
	width:100%;
	height:auto;
	display:none;@include transition($timing);
    }
    #messages {
	-webkit-overflow-scrolling: touch;
	font-family:'PT Sans',Arial,sans-serif;
	font-size:14px;
	height:75%;
	width:97%;
	background:#fff;
	color:#000;
	overflow-y:scroll;
	margin:0 auto;
    }
    #LoggedOut {
	border-top:1px solid #000;
	font-family:'PT Sans',Arial,sans-serif;
	font-size:18px;
	width:96.5%;
	background:#5780a4;
	height:20%;
	line-height:40px;
	color:#FFF;
	text-shadow:1px 1px 0 #283744;
	margin:0 auto;
    }
    #message-wrap {
	width:96.5%;
	height:auto;
	margin:0 auto;
    }
    #message {
	outline:0;
	line-height:90px;
	font-size:18px;
	width:99%;
	height:25%;
    }
    #msg_row {
	padding-left:5px;
	padding-top:2.5px;
	margin-bottom:2.5px;
	width:95%;
	word-wrap:break-word;
	list-style:none;
	height:auto;
    }
}
table.page th,tr,a {
    color:#000;
    font-family:'ws-ui',sans-serif;
}
table.page {
    width:95%;
    border-collapse:collapse;
    border-spacing:0;
}
table.page th {
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.55),1px 1px 3px rgba(0,0,0,0.25));
    @include background-image(linear-gradient(to bottom,#5780a4 0,#0053a6 100%));
    border-bottom:3px solid #000;
    font-size:18px;
    color:white;
}
table.page tr {
    padding:5px;
    font-size:18px;
    font-weight:bold;
    border-bottom:1px solid #000;
    height: 20px;
}
table.page tr a {
    text-decoration:none;
}
table.page tr a:hover {
    color:#fff;
}
table.page tr:hover {
    color:#fff;
    text-shadow:1px 1px 0 #283744;
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.55),1px 1px 3px rgba(0,0,0,0.25));
    @include background-image(linear-gradient(to bottom,#5780a4 0,#0053a6 100%));
}
.fullversion {
    height:95% !important;
}
.aboutlist {
    text-align:left;
}
.stdsize {
    width:220px;
    height:40px;
    padding:2.5px 2.5px;
}
.smallsize {
    width:120px;
    width:25px;
    padding:1.5px 1.5px;
}
.blues {
    color:#fff;
    cursor:pointer;
    font-family:Arial,Tahoma,sans-serif;
    font-size:17px;
    padding:-1;
    font-weight:bold;
    background-color:#6891e7;
    @include background-image(linear-gradient(to bottom,#5780a4 0,#0053a6 100%));
    text-shadow:1px 1px 0 rgba(0,0,0,0.6);
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.35));
}
.blues:hover {
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.55),1px 1px 3px rgba(0,0,0,0.25));
    @include background-image(linear-gradient(to bottom,#5780a4 0,#0053a6 100%));
}
.blues:active {
    border-color:#000 #002d59 #002d59;
    @include box-shadow(inset 0 1px 3px rgba(0,0,0,0.2),0 1px 0 #fff);
    @include background-image(linear-gradient(to bottom,#005ab4 0,#175ea6 100%));
}
.captcha {
    border:1px solid #000;
    margin-top:2.5px;
    margin-bottom:2.5px;
}
.field {
    margin-top:2.5px;
    margin-bottom:2.5px;
    position:relative;
    font-size:17px;
    font-family:"Helvetica Neue",Arial,sans-serif;
    font-weight:normal;
    background:#f7f8f8;
    color:#7c7c7c;
    outline:0;
    @include transition(all .2s ease-in-out 0);
    border-width:1px;
    border-color:#fff;
}
.field:focus {
    border-color:#930;
    background:#fff;
    color:#5d5d5d;
    @include box-shadow(0 0 5px #9ddff5);
}
.fieldsmall {
    margin-top:2.5px;
    margin-bottom:2.5px;
    position:relative;
    font-size:15px;
    font-family:'Cutive Mono';
    font-weight:normal;
    background:#f7f8f8;
    color:#7c7c7c;
    outline:0;
    @include transition(all .2s ease-in-out 0);
    border-width:1px;
    border-color:#fff;
}
.fieldsmall:focus {
    border-color:#930;
    background:#fff;
    color:#5d5d5d;
    @include box-shadow(0 0 5px #9ddff5);
}
.field-dark {
    position:relative;
    font-size:17px;
    height:35px;
    font-family:"Helvetica Neue",Arial,sans-serif;
    font-weight:normal;
    background:#f7f8f8;
    color:#7c7c7c;
    padding:6px 12px;
    outline:0;
    @include transition(all .2s ease-in-out 0);
    border-width:1px;
    border-color:#555;
}
.field-dark:focus {
    border-color:#930;
    background:#fff;
    color:#5d5d5d;
    @include box-shadow(0 0 5px #9ddff5);
}
.miniblues {
    color:#fff;
    width:120px;
    height:25px;
    cursor:pointer;
    font-family:Arial,Tahoma,sans-serif;
    font-size:1.0;
    border-width:1px;
    border-color:#fff;
    background-color:#6891e7;
    @include background-image(linear-gradient(to bottom,#5780a4 0,#0053a6 100%));
    text-shadow:1px 1px 0 rgba(0,0,0,0.6);
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.35));
}
.miniblues:hover {
    border-color:#fff;
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.55),1px 1px 3px rgba(0,0,0,0.25));
    @include background-image(linear-gradient(to bottom,#5780a4 0,#0053a6 100%));
}
.miniblues:active {
    border-color:#000 #002d59 #002d59;
    @include box-shadow(inset 0 1px 3px rgba(0,0,0,0.2),0 1px 0 #fff);
    @include background-image(linear-gradient(to bottom,#005ab4 0,#175ea6 100%));
}
.balloon {
    background-color:#fff;
    color:#555;
    border:1px #555 solid;
    display:block;
    height:auto;
    margin:0 0 30px;
    padding:10px;
    position:relative;
    width:70%;
    text-align:left;
    margin-bottom:-10px;
}
.balloon.bottom:after {
    border-bottom:20px solid #555;
    top:0;
}
.balloon.bottom:before,.balloon.bottom:after {
    border-bottom:20px solid #fff;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    left:20px;
    margin:-20px 0;
    top:1px;
}
.balloon.left:after {
    border-left:21px solid #555;
    margin-left:0;
}
.balloon.left:before,.balloon.left:after {
    border-bottom:10px solid transparent;
    border-left:20px solid #fff;
    border-top:10px solid transparent;
    left:100%;
    margin-left:-1px;
    top:10px;
}
.balloon.right:after {
    border-right:20px solid #555;
    left:-20px;
}
.balloon.right:before,.balloon.right:after {
    border-bottom:10px solid transparent;
    border-right:20px solid #fff;
    border-top:10px solid transparent;
    left:-19px;
    margin:0;
    top:10px;
}
.balloon.top:after {
    border-top:20px solid #555;
    margin-top:1px;
}
.balloon.top:before,.balloon.top:after {
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top:20px solid #fff;
    left:20px;
    margin-top:-1px;
    top:100%;
}
.balloon:after {
    z-index:1;
}
.balloon:before {
    z-index:2;
}
.balloon:before,.balloon:after {
    content:'';
    height:0;
    position:absolute;
    width:0;
}
#support-thread {
    width:400 px;
    margin-left:auto;
    margin-right:auto;
}
.title-point {
    font-family:'AUdimat-bold',sans-serif;
    font-size:26px;
    padding:0;
    margin-bottom:0;
}
.message-reply {
    width:60%;
    height:150px;
    resize:none;
}
.message-subject {
    width:60%;
}
.mbody {
    width:60%;
    word-wrap:break-word;
    color:#000 !important;
    padding:5px;
    overflow:hidden;
    white-space:wrap;
}
label,input {
    display:inline-block;
    height:25px;
    font-size:21px;
}
label {
    width:30%;
    text-align:right;
}
label+input {
    width:30%;
    margin:0 30% 0 4%;
}
input+input {
    margin:0 auto;
    padding:1 px;
    height:30 px;
}
#chart {
    margin-top:10px;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;
}
#boxA{
    clear:left;
    float:left;
    width:100%;
}
#boxB{
    float:left;
    width:100%;
    position:relative;
    right:50%;
}
#col1{
    float:left;
    width:50%;
    position:relative;
    left:50%;
    overflow:hidden;
}
#sellform {
    border:1px solid #000;
    margin-bottom:5%;
}
#col2{
    float:left;
    width:49.5%;
    position:relative;
    left:50%;
    overflow:hidden;
}
#buyform {
    border:1px solid #000;
    margin-bottom:5%;
}
#user-orders {
    width:100%;
}
.top {
    text-transform:uppercase;
    font-weight:bold;
    padding:5;
    font-size:22px;
    overflow:hidden;
    font-family:'ws-ui',sans-serif;
}
.box {
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    color:#000;
    padding:0;
    overflow-y:scroll;
    height:200px;
    width:100%;
}
#abtmenu li:hover {
    color:#fff;
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.55),1px 1px 3px rgba(0,0,0,0.25));
    @include background-image(linear-gradient(to bottom,#5780a4 0,#0053a6 100%));
}
.button {
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}
.value {
    font-family: 'Cutive Mono';
    font-weight: normal;
    text-align: right;
    font-size:14px;
    padding: 2%;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
