@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/register\.scss}line{font-family:\000033}}
#useragreement {
  color: #000;
  width: 550px;
  height: 300px;
  overflow-y: scroll;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  resize: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/register\.scss}line{font-family:\0000311}}
input[type="text"], input[type="password"] {
  width: 210px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/register\.scss}line{font-family:\0000314}}
.strength {
  padding: 0.5px;
  margin: 0.5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/register\.scss}line{font-family:\0000318}}
#passwordStrength {
  height: 49.5px;
  display: block;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/register\.scss}line{font-family:\0000324}}
.strength0 {
  width: 215px;
  padding: 0.5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/register\.scss}line{font-family:\0000330}}
.strength1 {
  width: 30px;
  background: #3B0B0B;
  border-right: 1px solid #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/register\.scss}line{font-family:\0000337}}
.strength2 {
  width: 50px;
  background: #FF0000;
  border-right: 1px solid #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/register\.scss}line{font-family:\0000344}}
.strength3 {
  width: 60px;
  background: #FE9A2E;
  border-right: 1px solid #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/register\.scss}line{font-family:\0000350}}
.strength4 {
  width: 80px;
  background: #FF5F5F;
  border-right: 1px solid #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/register\.scss}line{font-family:\0000357}}
.strength5 {
  width: 120px;
  background: #56E500;
  border-right: 1px solid #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/register\.scss}line{font-family:\0000364}}
.strength6 {
  background: #4DCD00;
  width: 170px;
  border-right: 1px solid #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/register\.scss}line{font-family:\0000371}}
.strength7 {
  background: #399800;
  width: 200px;
  border-right: 1px solid #000;
  -moz-box-shadow: 0 0 18px #399800;
  -webkit-box-shadow: 0 0 18px #399800;
  box-shadow: 0 0 18px #399800;
}
