@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);
@font-face {
  font-family: 'ws-ui';
  font-style: normal;
  font-weight: normal;
  src: url("../font/weblysleekuil.ttf") format("truetype");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\000039}}
* {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\0000313}}
html, body {
  background: #ECE8E5;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\0000317}}
#loading {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  background-color: #333;
  background-image: url("../img/OpenEx-square.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  z-index: 15;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\0000334}}
body {
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  font-family: 'ws-ui',sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\0000338}}
h1, h2, h3, h4, h5, h6 {
  font-family: 'ws-ui',sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\0000341}}
nav {
  height: 40px;
  width: 100%;
  background: #40a000;
  font-size: 200%;
  position: relative;
  float: right;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\0000350}}
#logo {
  display: inline-block;
  margin-left: 20px;
  line-height: 40px;
  width: 180px;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\0000357}}
#logo img {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\0000360}}
nav ul {
  display: inline-block;
  padding: 0;
  width: 100%;
  height: 40px;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\0000367}}
nav li {
  display: inline;
  float: left;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\0000372}}
nav li.right {
  display: inline;
  float: right;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\0000377}}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\0000381}}
.clearfix:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\0000384}}
.clearfix {
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\0000387}}
nav a {
  color: #fff;
  display: inline-block;
  width: 60px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  text-shadow: 1px 1px 0 #283744;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\0000396}}
nav li a {
  border-left: .5px solid #576979;
  border-right: .5px solid #576979;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003101}}
nav li:last-child a {
  border-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003104}}
nav li:hover, nav li:active {
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3ODBhNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNTNhNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: -webkit-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: linear-gradient(to bottom, #5780a4 0%, #0053a6 100%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003108}}
nav a#pull {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003111}}
#main_content {
  background-color: #EAF8EC;
  top: 40px;
  left: 200px;
  right: 0;
  bottom: 32px;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003122}}
#luapod {
  width: 100px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3ODBhNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNTNhNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: -webkit-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: linear-gradient(to bottom, #5780a4 0%, #0053a6 100%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003128}}
#luapod a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  text-shadow: 1px 1px 0 #283744;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003135}}
#filler {
  height: 32px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #007636;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003143}}
#footerl {
  color: #fff;
  height: 32px;
  line-height: 32px;
  position: fixed;
  left: 30px;
  bottom: 0px;
  width: 200px;
  list-style: none;
  display: inline;
  z-index: 10;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003154}}
#footerl li {
  color: #fff;
  display: inline;
  width: 50%;
  height: 32px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003160}}
#footerl a {
  width: 100%;
  height: 100%;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 0 #283744;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003167}}
#footerl a:hover {
  color: #1860A5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003170}}
#centerfooter {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -120px;
  color: #fff;
  text-shadow: 1px 1px 0 #283744;
  height: 32px;
  font-size: 12px;
  line-height: 32px;
  width: 200px;
  z-index: 10;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003183}}
#chat_toggle {
  float: right;
  margin-right: 30px;
  height: 32px;
  width: 60px;
  background-color: transparent;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .6px;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003195}}
#chat_toggle:hover {
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3ODBhNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNTNhNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: -webkit-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: linear-gradient(to bottom, #5780a4 0%, #0053a6 100%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003199}}
#chatbox {
  background: #959595;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk1OTU5NSIvPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwZDBkMGQiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzAxMDEwMSIvPjxzdG9wIG9mZnNldD0iOTIlIiBzdG9wLWNvbG9yPSIjMDEwMTAxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNGU0ZTRlIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzgzODM4Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMWIxYjFiIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -moz-linear-gradient(top, #959595 0%, #0d0d0d 0%, #010101 60%, #010101 92%, #4e4e4e 100%, #383838 100%, #1b1b1b 100%);
  background: -webkit-linear-gradient(top, #959595 0%, #0d0d0d 0%, #010101 60%, #010101 92%, #4e4e4e 100%, #383838 100%, #1b1b1b 100%);
  background: linear-gradient(to bottom, #959595 0%, #0d0d0d 0%, #010101 60%, #010101 92%, #4e4e4e 100%, #383838 100%, #1b1b1b 100%);
  position: fixed;
  bottom: 32px;
  right: 30px;
  width: 350px;
  height: 450px;
  display: none;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003210}}
#chat-submit {
  visibility: hidden;
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003214}}
#messages {
  font-family: 'PT Sans',Arial,sans-serif;
  font-size: 14px;
  height: 390px;
  width: 340px;
  background: #fff;
  color: #000;
  overflow-y: scroll;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003224}}
#LoggedOut {
  border-top: 1px solid #000;
  font-family: 'PT Sans',Arial,sans-serif;
  font-size: 18px;
  width: 340px;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3ODBhNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNTNhNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: -webkit-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: linear-gradient(to bottom, #5780a4 0%, #0053a6 100%);
  border: 1px solid #5780a4;
  height: 40px;
  line-height: 40px;
  color: #FFF;
  text-shadow: 1px 1px 0 #283744;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003238}}
#message-wrap {
  width: 340px;
  height: 40px;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003243}}
#message {
  outline: 0;
  line-height: 39px;
  font-size: 18px;
  width: 335px;
  height: 39px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003250}}
#msg_row {
  padding-left: 5px;
  padding-top: 2.5px;
  margin-bottom: 2.5px;
  width: 95%;
  word-wrap: break-word;
  list-style: none;
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003259}}
#u_name_chat {
  opacity: 1.0;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003263}}
#accountmenu {
  position: fixed;
  top: 40px;
  right: 0px;
  left: 200px;
  display: none;
  width: 100%;
  height: 40px;
  background: #6A747D;
  z-index: 2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003274}}
#accountmenu ul {
  margin-left: 15px;
  display: inline;
  width: 100%;
  height: 100%;
  overflow-x: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003281}}
#accountmenu a {
  height: 40px;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003285}}
#accountmenu li {
  display: inline;
  margin-right: 5px;
  width: 13%;
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  float: left;
  margin: 0 auto;
  line-height: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003296}}
#accountmenu li, #accountmenu li a {
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003300}}
#accountmenu li a:hover, #accountmenu li a:active {
  color: #000;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003304}}
.five {
  height: 5px;
  visibility: hidden;
  margin-bottom: -1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003309}}
.hundred {
  height: 100px;
  visibility: hidden;
  margin-bottom: -1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003314}}
.toggle {
  outline: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003317}}
.nobullets {
  list-style: none;
  text-align: justify;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003321}}
.markets {
  width: 200px;
  display: block;
  list-style: none;
  line-spacing: 2px;
  line-height: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003328}}
#markets {
  background: #BBE0C0;
  width: 200px;
  position: fixed;
  top: 40px;
  left: 0;
  bottom: 32px;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003337}}
#mhead {
  width: 200px;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3ODBhNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNTNhNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: -webkit-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: linear-gradient(to bottom, #5780a4 0%, #0053a6 100%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003342}}
.tshadow {
  text-shadow: 1px 1px 0 #283744;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003345}}
.mhead {
  font-family: 'ws-ui',sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003348}}
.box2 {
  float: left;
  line-height: 15px;
  width: 85px;
  display: inline-block;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3ODBhNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNTNhNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: -webkit-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: linear-gradient(to bottom, #5780a4 0%, #0053a6 100%);
  border: 1px solid #FFF;
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
  margin: 2px;
  padding: 2px;
  text-align: center;
  cursor: pointer;
  text-shadow: 1px 1px 0 #283744;
  font-family: 'ws-ui',sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003366}}
.box2 a {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003369}}
.box2:hover {
  color: #FFF;
  border: 1px solid #FFF;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3ODBhNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNTNhNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: -webkit-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: linear-gradient(to bottom, #5780a4 0%, #0053a6 100%);
  border: 1px solid #5780a4;
  font-weight: bold;
  margin: 2px;
  padding: 2px;
  text-align: centered;
  cursor: pointer;
  text-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003382}}
.toggle:hover {
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003385}}
.blue {
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3ODBhNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNTNhNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: -webkit-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: linear-gradient(to bottom, #5780a4 0%, #0053a6 100%);
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003390}}
.lightgray {
  background: #e2e2e2;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UyZTJlMiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZGJkYmRiIi8+PHN0b3Agb2Zmc2V0PSI5MSUiIHN0b3AtY29sb3I9IiNkMWQxZDEiLz48c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iI2QxZDFkMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 91%, #d1d1d1 98%, #fefefe 100%, #fefefe 100%, #fefefe 100%);
  background: -webkit-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 91%, #d1d1d1 98%, #fefefe 100%, #fefefe 100%, #fefefe 100%);
  background: linear-gradient(to bottom, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 91%, #d1d1d1 98%, #fefefe 100%, #fefefe 100%, #fefefe 100%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003394}}
.darkgray {
  background: #b5bdc8;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNiNWJkYzgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNWJkYzgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODM0M2IiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -moz-linear-gradient(top, #b5bdc8 60%, #b5bdc8 100%, #28343b 100%);
  background: -webkit-linear-gradient(top, #b5bdc8 60%, #b5bdc8 100%, #28343b 100%);
  background: linear-gradient(to bottom, #b5bdc8 60%, #b5bdc8 100%, #28343b 100%);
}

@media screen and (max-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003399}}
  #logo {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003402}}
  nav {
    z-index: 10;
    height: auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003406}}
  nav ul {
    width: 100%;
    display: block;
    height: auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003411}}
  nav li {
    width: 50%;
    float: left;
    position: relative;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003416}}
  nav li a {
    border-bottom: 1px solid #576979;
    border-right: 1px solid #576979;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003420}}
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003425}}
  #accountmenu {
    z-index: 2;
  }
}
@media only screen and (max-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003430}}
  nav {
    border-bottom: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003433}}
  nav {
    z-index: 10;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003436}}
  nav ul {
    display: none;
    height: auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003440}}
  #accountmenu {
    display: initial;
    z-index: 2;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003444}}
  nav a#pull {
    display: block;
    background: #959595;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk1OTU5NSIvPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwZDBkMGQiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzAxMDEwMSIvPjxzdG9wIG9mZnNldD0iOTIlIiBzdG9wLWNvbG9yPSIjMDEwMTAxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNGU0ZTRlIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzgzODM4Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMWIxYjFiIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background: -moz-linear-gradient(top, #959595 0%, #0d0d0d 0%, #010101 60%, #010101 92%, #4e4e4e 100%, #383838 100%, #1b1b1b 100%);
    background: -webkit-linear-gradient(top, #959595 0%, #0d0d0d 0%, #010101 60%, #010101 92%, #4e4e4e 100%, #383838 100%, #1b1b1b 100%);
    background: linear-gradient(to bottom, #959595 0%, #0d0d0d 0%, #010101 60%, #010101 92%, #4e4e4e 100%, #383838 100%, #1b1b1b 100%);
    width: 100%;
    position: relative;
    height: 40px;
    line-height: 40px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003453}}
  nav a#pull:after {
    content: "";
    background: url("../img/nav-icon.png") no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
  }
}
@media only screen and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003465}}
  #footerl {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003468}}
  nav {
    z-index: 10;
    height: auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003472}}
  #accountmenu {
    display: none;
    overflow: auto;
    left: 0px;
    top: 40px;
    right: 0px;
    width: auto;
    height: 100px;
    border-bottom: 1px solid #576979;
    border-right: 1px solid #576979;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003479}}
  nav ul {
    width: 100%;
    display: block;
    top: 0px;
    bottom: 32px;
    min-height: 80%;
    max-height: 84%;
    left: 0px;
    right: 0px;
    position: fixed;
    z-index: 10;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003490}}
  nav li {
    width: 25%;
    height: 30%;
    float: left;
    position: relative;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003496}}
  nav li a {
    border-bottom: 1px solid #576979;
    border-right: 1px solid #576979;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003500}}
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003505}}
  nav ul {
    display: none;
    height: auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003509}}
  nav a#pull {
    display: block;
    background: #959595;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk1OTU5NSIvPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwZDBkMGQiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzAxMDEwMSIvPjxzdG9wIG9mZnNldD0iOTIlIiBzdG9wLWNvbG9yPSIjMDEwMTAxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNGU0ZTRlIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzgzODM4Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMWIxYjFiIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background: -moz-linear-gradient(top, #959595 0%, #0d0d0d 0%, #010101 60%, #010101 92%, #4e4e4e 100%, #383838 100%, #1b1b1b 100%);
    background: -webkit-linear-gradient(top, #959595 0%, #0d0d0d 0%, #010101 60%, #010101 92%, #4e4e4e 100%, #383838 100%, #1b1b1b 100%);
    background: linear-gradient(to bottom, #959595 0%, #0d0d0d 0%, #010101 60%, #010101 92%, #4e4e4e 100%, #383838 100%, #1b1b1b 100%);
    width: 100%;
    position: relative;
    height: 40px;
    line-height: 40px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003518}}
  nav a#pull:after {
    content: "";
    background: url("../img/nav-icon.png") no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003528}}
  #markets {
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: auto;
    background: #333;
    position: fixed;
    top: 40px;
    left: 0px;
    right: 0px;
    bottom: 60%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003542}}
  #mhead {
    -webkit-overflow-scrolling: touch;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: auto;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3ODBhNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNTNhNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -moz-linear-gradient(top, #5780a4 0%, #0053a6 100%);
    background-image: -webkit-linear-gradient(top, #5780a4 0%, #0053a6 100%);
    background-image: linear-gradient(to bottom, #5780a4 0%, #0053a6 100%);
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003549}}
  #main_content {
    -webkit-overflow-scrolling: touch;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-color: #ece8e5;
    top: 40px;
    left: 0px;
    right: 0px;
    bottom: 32px;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003562}}
  .markets {
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 100%;
    display: block;
    list-style: none;
    line-spacing: 2px;
    line-height: 20px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003574}}
  .box2 {
    float: left;
    line-height: 15px;
    width: 31.1%;
    height: 5.5%;
    display: inline-block;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3ODBhNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNTNhNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -moz-linear-gradient(top, #5780a4 0%, #0053a6 100%);
    background-image: -webkit-linear-gradient(top, #5780a4 0%, #0053a6 100%);
    background-image: linear-gradient(to bottom, #5780a4 0%, #0053a6 100%);
    border: 1px solid #FFF;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    margin: 0.5 0.5 0.5 0.5;
    padding: 0.5 0.5 0.5 0.5;
    text-align: center;
    cursor: pointer;
    text-shadow: 1px 1px 0 #283744;
    font-family: 'ws-ui',sans-serif;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003593}}
  .box2 a {
    width: 100%;
    height: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003597}}
  #chatbox {
    background: #959595;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk1OTU5NSIvPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwZDBkMGQiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzAxMDEwMSIvPjxzdG9wIG9mZnNldD0iOTIlIiBzdG9wLWNvbG9yPSIjMDEwMTAxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNGU0ZTRlIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzgzODM4Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMWIxYjFiIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background: -moz-linear-gradient(top, #959595 0%, #0d0d0d 0%, #010101 60%, #010101 92%, #4e4e4e 100%, #383838 100%, #1b1b1b 100%);
    background: -webkit-linear-gradient(top, #959595 0%, #0d0d0d 0%, #010101 60%, #010101 92%, #4e4e4e 100%, #383838 100%, #1b1b1b 100%);
    background: linear-gradient(to bottom, #959595 0%, #0d0d0d 0%, #010101 60%, #010101 92%, #4e4e4e 100%, #383838 100%, #1b1b1b 100%);
    position: fixed;
    top: 40px;
    bottom: 32px;
    right: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    display: none;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003609}}
  #messages {
    -webkit-overflow-scrolling: touch;
    font-family: 'PT Sans',Arial,sans-serif;
    font-size: 14px;
    height: 75%;
    width: 97%;
    background: #fff;
    color: #000;
    overflow-y: scroll;
    margin: 0 auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003620}}
  #LoggedOut {
    border-top: 1px solid #000;
    font-family: 'PT Sans',Arial,sans-serif;
    font-size: 18px;
    width: 96.5%;
    background: #5780a4;
    height: 20%;
    line-height: 40px;
    color: #FFF;
    text-shadow: 1px 1px 0 #283744;
    margin: 0 auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003632}}
  #message-wrap {
    width: 96.5%;
    height: auto;
    margin: 0 auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003637}}
  #message {
    outline: 0;
    line-height: 90px;
    font-size: 18px;
    width: 99%;
    height: 25%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003644}}
  #msg_row {
    padding-left: 5px;
    padding-top: 2.5px;
    margin-bottom: 2.5px;
    width: 95%;
    word-wrap: break-word;
    list-style: none;
    height: auto;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003654}}
table.page th, tr, a {
  color: #000;
  font-family: 'ws-ui',sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003658}}
table.page {
  width: 95%;
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003663}}
table.page th {
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3ODBhNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNTNhNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: -webkit-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: linear-gradient(to bottom, #5780a4 0%, #0053a6 100%);
  border-bottom: 3px solid #000;
  font-size: 18px;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003670}}
table.page tr {
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #000;
  height: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003677}}
table.page tr a {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003680}}
table.page tr a:hover {
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003683}}
table.page tr:hover {
  color: #fff;
  text-shadow: 1px 1px 0 #283744;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3ODBhNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNTNhNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: -webkit-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: linear-gradient(to bottom, #5780a4 0%, #0053a6 100%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003689}}
.fullversion {
  height: 95% !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003692}}
.aboutlist {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003695}}
.stdsize {
  width: 220px;
  height: 40px;
  padding: 2.5px 2.5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003700}}
.smallsize {
  width: 120px;
  width: 25px;
  padding: 1.5px 1.5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003705}}
.blues {
  color: #fff;
  cursor: pointer;
  font-family: Arial,Tahoma,sans-serif;
  font-size: 17px;
  padding: -1;
  font-weight: bold;
  background-color: #6891e7;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3ODBhNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNTNhNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: -webkit-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: linear-gradient(to bottom, #5780a4 0%, #0053a6 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003717}}
.blues:hover {
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3ODBhNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNTNhNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: -webkit-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: linear-gradient(to bottom, #5780a4 0%, #0053a6 100%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003721}}
.blues:active {
  border-color: #000 #002d59 #002d59;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 0 #fff;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 0 #fff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 0 #fff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNWFiNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE3NWVhNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(top, #005ab4 0%, #175ea6 100%);
  background-image: -webkit-linear-gradient(top, #005ab4 0%, #175ea6 100%);
  background-image: linear-gradient(to bottom, #005ab4 0%, #175ea6 100%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003726}}
.captcha {
  border: 1px solid #000;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003731}}
.field {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  position: relative;
  font-size: 17px;
  font-family: "Helvetica Neue",Arial,sans-serif;
  font-weight: normal;
  background: #f7f8f8;
  color: #7c7c7c;
  outline: 0;
  -moz-transition: all 0.2s 0;
  -o-transition: all 0.2s 0;
  -webkit-transition: all 0.2s 0;
  transition: all 0.2s 0;
  border-width: 1px;
  border-color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003745}}
.field:focus {
  border-color: #930;
  background: #fff;
  color: #5d5d5d;
  -moz-box-shadow: 0 0 5px #9ddff5;
  -webkit-box-shadow: 0 0 5px #9ddff5;
  box-shadow: 0 0 5px #9ddff5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003751}}
.fieldsmall {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  position: relative;
  font-size: 15px;
  font-family: 'Cutive Mono';
  font-weight: normal;
  background: #f7f8f8;
  color: #7c7c7c;
  outline: 0;
  -moz-transition: all 0.2s 0;
  -o-transition: all 0.2s 0;
  -webkit-transition: all 0.2s 0;
  transition: all 0.2s 0;
  border-width: 1px;
  border-color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003765}}
.fieldsmall:focus {
  border-color: #930;
  background: #fff;
  color: #5d5d5d;
  -moz-box-shadow: 0 0 5px #9ddff5;
  -webkit-box-shadow: 0 0 5px #9ddff5;
  box-shadow: 0 0 5px #9ddff5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003771}}
.field-dark {
  position: relative;
  font-size: 17px;
  height: 35px;
  font-family: "Helvetica Neue",Arial,sans-serif;
  font-weight: normal;
  background: #f7f8f8;
  color: #7c7c7c;
  padding: 6px 12px;
  outline: 0;
  -moz-transition: all 0.2s 0;
  -o-transition: all 0.2s 0;
  -webkit-transition: all 0.2s 0;
  transition: all 0.2s 0;
  border-width: 1px;
  border-color: #555;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003785}}
.field-dark:focus {
  border-color: #930;
  background: #fff;
  color: #5d5d5d;
  -moz-box-shadow: 0 0 5px #9ddff5;
  -webkit-box-shadow: 0 0 5px #9ddff5;
  box-shadow: 0 0 5px #9ddff5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003791}}
.miniblues {
  color: #fff;
  width: 120px;
  height: 25px;
  cursor: pointer;
  font-family: Arial,Tahoma,sans-serif;
  font-size: 1.0;
  border-width: 1px;
  border-color: #fff;
  background-color: #6891e7;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3ODBhNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNTNhNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: -webkit-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: linear-gradient(to bottom, #5780a4 0%, #0053a6 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003805}}
.miniblues:hover {
  border-color: #fff;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3ODBhNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNTNhNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: -webkit-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: linear-gradient(to bottom, #5780a4 0%, #0053a6 100%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003810}}
.miniblues:active {
  border-color: #000 #002d59 #002d59;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 0 #fff;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 0 #fff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 0 #fff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNWFiNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE3NWVhNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(top, #005ab4 0%, #175ea6 100%);
  background-image: -webkit-linear-gradient(top, #005ab4 0%, #175ea6 100%);
  background-image: linear-gradient(to bottom, #005ab4 0%, #175ea6 100%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003815}}
.balloon {
  background-color: #fff;
  color: #555;
  border: 1px #555 solid;
  display: block;
  height: auto;
  margin: 0 0 30px;
  padding: 10px;
  position: relative;
  width: 70%;
  text-align: left;
  margin-bottom: -10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003828}}
.balloon.bottom:after {
  border-bottom: 20px solid #555;
  top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003832}}
.balloon.bottom:before, .balloon.bottom:after {
  border-bottom: 20px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  left: 20px;
  margin: -20px 0;
  top: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003840}}
.balloon.left:after {
  border-left: 21px solid #555;
  margin-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003844}}
.balloon.left:before, .balloon.left:after {
  border-bottom: 10px solid transparent;
  border-left: 20px solid #fff;
  border-top: 10px solid transparent;
  left: 100%;
  margin-left: -1px;
  top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003852}}
.balloon.right:after {
  border-right: 20px solid #555;
  left: -20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003856}}
.balloon.right:before, .balloon.right:after {
  border-bottom: 10px solid transparent;
  border-right: 20px solid #fff;
  border-top: 10px solid transparent;
  left: -19px;
  margin: 0;
  top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003864}}
.balloon.top:after {
  border-top: 20px solid #555;
  margin-top: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003868}}
.balloon.top:before, .balloon.top:after {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #fff;
  left: 20px;
  margin-top: -1px;
  top: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003876}}
.balloon:after {
  z-index: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003879}}
.balloon:before {
  z-index: 2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003882}}
.balloon:before, .balloon:after {
  content: '';
  height: 0;
  position: absolute;
  width: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003888}}
#support-thread {
  width: 400 px;
  margin-left: auto;
  margin-right: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003893}}
.title-point {
  font-family: 'AUdimat-bold',sans-serif;
  font-size: 26px;
  padding: 0;
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003899}}
.message-reply {
  width: 60%;
  height: 150px;
  resize: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003904}}
.message-subject {
  width: 60%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003907}}
.mbody {
  width: 60%;
  word-wrap: break-word;
  color: #000 !important;
  padding: 5px;
  overflow: hidden;
  white-space: wrap;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003915}}
label, input {
  display: inline-block;
  height: 25px;
  font-size: 21px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003920}}
label {
  width: 30%;
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003924}}
label + input {
  width: 30%;
  margin: 0 30% 0 4%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003928}}
input + input {
  margin: 0 auto;
  padding: 1 px;
  height: 30 px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003933}}
#chart {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003939}}
#boxA {
  clear: left;
  float: left;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003944}}
#boxB {
  float: left;
  width: 100%;
  position: relative;
  right: 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003950}}
#col1 {
  float: left;
  width: 50%;
  position: relative;
  left: 50%;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003957}}
#sellform {
  border: 1px solid #000;
  margin-bottom: 5%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003961}}
#col2 {
  float: left;
  width: 49.5%;
  position: relative;
  left: 50%;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003968}}
#buyform {
  border: 1px solid #000;
  margin-bottom: 5%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003972}}
#user-orders {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003975}}
.top {
  text-transform: uppercase;
  font-weight: bold;
  padding: 5;
  font-size: 22px;
  overflow: hidden;
  font-family: 'ws-ui',sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003983}}
.box {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  color: #000;
  padding: 0;
  overflow-y: scroll;
  height: 200px;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003992}}
#abtmenu li:hover {
  color: #fff;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55), 1px 1px 3px rgba(0, 0, 0, 0.25);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3ODBhNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNTNhNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: -webkit-linear-gradient(top, #5780a4 0%, #0053a6 100%);
  background-image: linear-gradient(to bottom, #5780a4 0%, #0053a6 100%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\00003997}}
.button {
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\000031007}}
.value {
  font-family: 'Cutive Mono';
  font-weight: normal;
  text-align: right;
  font-size: 14px;
  padding: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/monaka\/git\/altcoins-tools\/openex\/assets\/sass\/style\.scss}line{font-family:\000031014}}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
